.menuContainer--header__secondmenu--items{
    min-height: 68px;
}

.menuContainer--header__secondmenu--items .styledLinkContainer{
    padding: 0px 1rem;
    margin: 0px;
}

.menuContainer--header__secondmenu--items .menuItem{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid transparent; 
}

.menuContainer--header__secondmenu--items .menuItem:hover{
    border-bottom: 2px solid black;
}

.menuContainer--header__secondmenu--items .styledLinkContent{
    flex-direction: column;
    font-size: var(--parrafos__s12);
    font-weight:var(--parrafos__w300);
    color: var(--color__principal);
    text-align: center;
}

.menuContainer--header__secondmenu--items .styledLinkIcon{
    margin-bottom: 6px;
}