@import url(./logincustom.css);

.profile{
    min-width: 90px;
    max-width: 100px;
}

.portalContainer--view__login .box {
    position: absolute;
    top: 72px;
    right: unset !important;
    left: 50%;
    transform: translate(-66%, 0%);
    width: 480px;
}

.portalContainer--view__login .contentContainer{
    box-shadow: none;
}

.portalContainer--view__login .content{
    background-color: rgba(245, 244, 246, 1);
    border-radius: 0 0 16px 16px;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portalContainer--view__login :global(.vtex-button){
    background-color: rgba(245, 244, 246, 1);
    border: 1px solid rgba(29, 39, 52, 1);
    border-radius: 40px;
    padding: 10px;
    color: rgba(29, 39, 52, 1);
}

.portalContainer--view__login .contentForm{
    min-width: 100%;
    position: relative;
}

.googleOptionBtn :global(.vtex-button){
    background: rgba(255, 255, 255, 1);
    color: rgba(94, 99, 110, 1);
    border: none;
}

.facebookOptionBtn :global(.vtex-button){
    background: rgba(24, 119, 242, 1);
    color: rgb(255, 255, 255);
    border: none;
}

.arrowUp {
    display: none;
}


/*--Access Code--*/

.portalContainer--view__login :global(.vtex-input-prefix__group){
    border: 1px solid rgba(29, 39, 52, 1);
    border-radius: 40px;
    padding: 10px;
    min-height: 44px;
}

.portalContainer--view__login :global(.vtex-styleguide-9-x-hideDecorators){
    background: transparent;

}

.portalContainer--view__login .formFooter{
    border: none;
    display: block;
}

.portalContainer--view__login .backButton {
    position: absolute;
    z-index: 69;
    top: 0;
    min-height: 58px;
    display: flex;
    align-items: center;
}

.portalContainer--view__login .backButton :global(.vtex-button){
    border: none;
}

.portalContainer--view__login .backButton :global(.t-small){
    display: none;
}

.portalContainer--view__login .sendButton{
    min-width: 100%;
}

.portalContainer--view__login .sendButton :global(.vtex-button){
    min-width: 100%;
    color: white;
    background-color: #1D2734;
}

/*---|Login|E-mail and password|*/

.portalContainer--view__login .emailAndPasswordForm .formLinkContainer{
    justify-content: center;
}

.portalContainer--view__login .emailAndPasswordForm .suffix{
    display: none;
}


/*-----|Logeado|-----*/

.portalWrapper--view__login .accountOptions .accountOptionsSectionTitle{
    display: none;
}


.portalWrapper--view__login .login__btn--profile,
.portalWrapper--view__login .login__btn--addresses,
.portalWrapper--view__login .login__btn--orders,
.portalWrapper--view__login .login__btn--cards,
.portalWrapper--view__login .login__btn--authentication
 {
    border: 1px solid rgba(29, 39, 52, 1);
    border-radius: 40px;
    padding: 10px;
    min-height: 44px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(29, 39, 52, 1);
    text-align: center;
    line-height: 1.6;
    margin-bottom: 8px;
}


.portalWrapper--view__login .login__btn--profile:hover,
.portalWrapper--view__login .login__btn--addresses:hover,
.portalWrapper--view__login .login__btn--orders:hover,
.portalWrapper--view__login .login__btn--cards:hover,
.portalWrapper--view__login .login__btn--authentication:hover {
   background-color: rgba(29, 39, 52, 1);
   color: white;
    font-size: 14px;
    font-weight: 400;
}

.portalWrapper--view__login .accountOptions :global(.mv2){
    display: none;
}


.portalWrapper--view__login .accountOptions :global(.mv4:last-child){
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}


.portalWrapper--view__login .accountOptions .logoutButton{
    font-size: 14px;
    font-weight: 400;
    color: #E31616;
}