@import url(./specificationscustom.css);

.flexRow--view__pdp :global(.vtex-store-components-3-x-container) {
  display: flex;
  justify-content: center;
}

.flexRowContent--view__pdp {
  max-width: 1140px;
}

.flexRow--view--pdp__top {
  margin-top: 2rem;
}

.flexRow--view--pdp__bottom {
  margin-bottom: 2rem;
}

.flexCol--pdp--top__left {
  box-sizing: border-box;
  padding-right: 2rem;
}

.flexRowContent--view--pdp__bottom .stretchChildrenWidth {
  display: flex;
  flex-direction: column;
}

.flexRowContent--product__specification .stretchChildrenWidth {
  display: grid;
  grid-template-columns: 20% 80%;
}

.flexCol--pdp--top__right .flexColChild--pdp--top__right {
  padding-bottom: 1rem;
}

.flexColChild--pdp--top__right:empty {
  display: none;
}

.flexColChild--pdp--top__right .productSKUAttributesContainer:empty {
  display: none;
}

.flexColChild--pdp--top__right
  :global(.vtex-product-highlights-2-x-productHighlightText--pdp__highlight) {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.4rem 1rem;
  background: #ff832433;
  border-radius: 6px;
  margin-right: 6px;
}

.flexRowContent--top__right--price {
  display: flex;
  justify-content: flex-start;
}

.flexRow--top__right--cart {
  width: 100%;
}

/* Estilos para mobile */
@media (max-width: 639px) {
}

/* Estilos para tabletas */
@media (min-width: 640px) and (max-width: 1025px) {
}

/* Estilos para escritorios */
@media (min-width: 1026px) {
}
