.productNameContainer--pdp__name{
    font-size: var(--parrafos__w300);
    font-weight: var(--parrafos__s16);
    color: var(--color__principal);
    line-height: 1.8;
}

.skuSelectorContainer--pdp__skuselector {
    display: flex;
    flex-direction: column-reverse;
}

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer{
    margin-bottom: 0;
}  

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--color{
    margin: 1rem 0rem;
}

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorName{
    font-size:var(--parrafos__s16) ;
    font-weight: var(--parrafos__w600);
    color: var(--color__principal);
    
}

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--color .skuSelectorOptionsList{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 0;
}

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--color .skuSelectorItem {
    width: 100%;
    height: 100%;
}

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--color .valueWrapper--pdp__skuselector{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--talla .skuSelectorOptionsList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-left: 0;
}


.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--talla .skuSelectorTextContainer .skuSelectorName{
    font-size:var(--parrafos__s16) ;
    font-weight: var(--parrafos__w600);
    color: var(--color__principal);
}

.skuSelectorContainer--pdp__skuselector .skuSelectorSubcontainer--talla .skuSelectorItem {
    width: 100%;
    height: 3rem;
}

.skuSelectorInternalBox--pdp__skuselector .valueWrapper--pdp__skuselector{
    font-size: var(--parrafos__w400);
    font-weight: var(--parrafos__s14);
}
