:global(.vtex-slider-layout-0-x-paginationDot--Carousel__InfoCard--isActive ~ .vtex-slider-layout-0-x-paginationDot--Carousel__InfoCard::after) {
    width: 44px;
    height: 2px;
    content: "";
    background-color: rgba(29, 39, 52, 0.4);
    position: absolute;
}

:global(.vtex-slider-layout-0-x-paginationDot--carousel__summary--isActive ~ .vtex-slider-layout-0-x-paginationDot--carousel__summary::after) {
    width: 44px;
    height: 2px;
    content: "";
    background-color: rgba(29, 39, 52, 0.4);
    position: absolute;
}