/*---|Home|Slider|InfoCard|--*/

.sliderLayoutContainer--Carousel__InfoCard{
    padding: 0 40px 80px 40px;
}

.paginationDotsContainer--Carousel__InfoCard{
    position: absolute;
    height: 80px;
    align-items: center;
}

/*--|Home|Slider|Summary|--*/

.sliderLayoutContainer--carousel__summary{
    padding: 0 40px 80px 40px;
}

.slide--carousel__summary{
    margin: 0 10px;
}