@import url(./slidercustom.css);

/*---|Home|Slider|InfoCard|--*/

.sliderLayoutContainer--Carousel__InfoCard{
    padding: 0 40px 80px 40px;
}

.paginationDotsContainer--Carousel__InfoCard{
    position: absolute;
    height: 80px;
    align-items: center;
}

.paginationDot--Carousel__InfoCard {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.paginationDot--Carousel__InfoCard::after {
    width: 44px;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #1D2734;
}

.paginationDot--Carousel__InfoCard--isActive::before {
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    right: -8px;
    background-color: #1D2734;
    border-radius: 50%;
}

/*--|Home|Slider|Summary|--*/

.sliderLayoutContainer--carousel__summary{
    padding: 0 40px 80px 40px;
}

.slide--carousel__summary{
    margin: 0 10px;
}

.paginationDotsContainer--carousel__summary{
    position: absolute;
    height: 80px;
    align-items: center;
}


.paginationDot--carousel__summary {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.paginationDot--carousel__summary::after {
    width: 44px;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #1D2734;
}

.paginationDot--carousel__summary--isActive::before {
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    right: -8px;
    background-color: #1D2734;
    border-radius: 50%;
}