.infoCardContainer--info__card{
    flex-direction: column-reverse;
    margin: 0 20px 0 20px;
    border-radius: 12px;
    padding: 0;
}

.infoCardTextContainer--info__card{
    width: max-content;
}

.infoCardImageContainer--info__card{
    width: 100%;
}

.infoCardCallActionContainer--info__card :global(.vtex-button){
    border-radius: 40px;
}