/*---|Home|Summary|Wislist|--*/

.element--info__summary :global(.vtex-wish-list-1-x-wishlistIconContainer) {
     box-sizing: border-box;
     border-radius: 4px;
     position: absolute;
     z-index: 9;
     right: 0;
     width: 30%;
     overflow:hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     width: max-content;
}

.element--info__summary :global(.vtex-wish-list-1-x-iconSize) {
     background: url('assets/img/wishheart.svg') no-repeat center center / cover;
     width: 20px;
     height: 20px;
}

/*---|Home|Summary|Img|---*/

.element--info__summary :global(.vtex-product-summary-2-x-imageWrapper) {
     margin-top: 60px;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
}

.element--info__summary :global(.vtex-product-summary-2-x-imageNormal) {
     min-height: max-content;
     min-width: max-content;
     object-fit: cover;
     object-position: center;
}

/*---|Home|Summary|Name|---*/

.element--info__summary .nameContainer{
     text-align: left;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     overflow-y: hidden;
     padding-top: 4px;
     padding-bottom: 4px;
}

.element--info__summary .productNameContainer{
     height: 58px;
}

/*---|Home|Summary|Price|---*/

.element--info__summary{
     display: flex;
     justify-content: space-between;
}


.element--info__summary :global(.vtex-product-price-1-x-listPrice) {
     text-align: left;
     color: rgba(29, 39, 52, 0.4);
     font-size: 14px;
     font-weight: 400;
}

.element--info__summary :global(.vtex-product-price-1-x-sellingPrice) {
     text-align: left;
     color: rgba(29, 39, 52, 1);
     font-size: 24px;
     font-weight: 600;
     padding-top: 4px;
     padding-bottom: 4px;
}

/*---|---*/

.element--info__summary :global(.vtex-button){
     background-color: transparent;
     border-width: 0;
     color: #1D2734;
     border: 1px solid #1D2734;
}

.element--info__summary :global(.vtex-add-to-cart-button-0-x-buttonText--button_buy){
     display: flex;
     align-items: center;
     padding: 10px 0;
 }

.element--info__summary :global(.vtex-add-to-cart-button-0-x-buttonText--button_buy)::before{
     content: "";
     background: url("assets/img/add_home_shopping_car.svg") no-repeat center center / cover;;
     display: inline-block;
     margin-right: 6px;
     width: 20px;
     height: 20px;
}