/*---|Home|Slider|InfoCard|--*/

.sliderLayoutContainer--Carousel__InfoCard{
    padding: 0 40px 80px 40px;
}

.paginationDotsContainer--Carousel__InfoCard{
    position: absolute;
    height: 80px;
    align-items: center;
}

.paginationDot--Carousel__InfoCard {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    background-color: green;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}
.paginationDot--Carousel__InfoCard::before {
    /*width: 44px;*/
    /*height: 2px;*/
    content: "←";
    font-size: 0;
    position: absolute;
    background-color: #26599b;
}

.paginationDot--Carousel__InfoCard--isActive::after {
    /*width: 16px;*/
    /*height: 16px;*/
    content: "→";
    position: absolute;
    right: -8px;
    background-color: #a13b3b;
    border-radius: 50%;
}

/*
.paginationDot--Carousel__InfoCard--isActive ~ .paginationDot--Carousel__InfoCard::before {
    width: 44px;
    height: 2px;
    content: "←";
    font-size: 0;
    background-color: #a8cdd6;
    position: absolute;
}
*/

/*--|Home|Slider|Summary|--*/

.sliderLayoutContainer--carousel__summary{
    padding: 0 40px 80px 40px;
}

.slide--carousel__summary{
    margin: 0 10px;
}

.paginationDotsContainer--carousel__summary{
    position: absolute;
    height: 80px;
    align-items: center;
}

/*

.vtex-slider-layout-0-x-paginationDot--isActive:before {
    content: "";
    position: absolute;
    right: -8px;
    width: 16px;
    height: 16px;
    background-color: #1d2734;
    border-radius: 50%;
}

.vtex-slider-layout-0-x-paginationDot {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.vtex-slider-layout-0-x-paginationDot:after {
    width: 44px;
    height: 2px;
    content: "";
    font-size: 0;
    background-color: #1d2734;
    position: absolute;
}

.vtex-slider-layout-0-x-paginationDot--isActive~.vtex-slider-layout-0-x-paginationDot:after {
    width: 44px;
    height: 2px;
    content: "";
    font-size: 0;
    background-color: rgba(29, 39, 52, .4);
    position: absolute;
}
*/    