/*---|Home|Summary|Stack|---*/

.stackContainer--stack__summary{
    border-radius: 4px;
    position: absolute;
    background-color: #1D2734;
    z-index: 9;
    display: flex;
    width: 40%;  
    justify-content: center;
    align-items: center;
}

.stackItem--stack__summary{
    padding: 6%;
    min-height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.stackItem--stack__summary:empty{
    display: none;
}

