/*---|Home|Summary|Stack|---*/

.stackContainer--list__summary--stack{
    border-radius: 4px;
    position: absolute;
    background-color: #1D2734;
    z-index: 9;
    display: flex;
    width: 50%;  
    justify-content: center;
    align-items: center;
}

.stackItem--list__summary--stack{
    min-height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.stackItem--list__summary--stack:empty{
    display: none;
}

