.productHighlightWrapper--summary__highfree--wrapper {
    margin-right: 2px;
    display: flex;
    color: rgba(250, 32, 128, 1);
    padding-top: 4px;
    padding-bottom: 4px;
}

.productHighlightText--highfree__wrapper--text {
    margin-right: 6px;
}