.listPrice--list__summary--price {
    text-align: left;
    color: rgba(29, 39, 52, 0.4);
    font-size: 14px;
    font-weight: 400;
}

.sellingPrice--list__summary--price {
    text-align: left;
    color: rgba(29, 39, 52, 1);
    font-size: 24px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
}