.listPrice--list__summary--price {
    text-align: left;
    color:var(--color__graytwo);
    font-size: var(--parrafos__s14);
    font-weight: var(--parrafos__w400);
}

.sellingPrice--list__summary--price {
    text-align: left;
    color: rgba(29, 39, 52, 1);
    font-size: var(--parrafos__s20);
    font-weight: var(--parrafos__w600);
    padding-top: 4px;
    padding-bottom: 4px;
}