
.flexRow--desktop__plp :global(.vtex-store-components-3-x-container){
 display: flex;
 justify-content: center;
 padding: 0;
}

.flexRowContent--desktop__plp{
    max-width: 1140px;
}

.flexCol--head__two{
    display: flex;
    align-items: center;
}

.flexCol--filter__plp{
    min-width: max-content;
    margin: 0 4rem 0 0;
}
