.flexRow--desktop__plp :global(.vtex-store-components-3-x-container) {
  display: flex;
  justify-content: center;
}

.flexRowContent--desktop__plp {
  max-width: 1140px;
  margin-bottom: 3rem;
}

.flexCol--head__two {
  display: flex;
  justify-content: space-between;
}

.flexCol--filter__plp {
  min-width: max-content;
}

/*--------*/

.flexRow--plp__content--shelf {
  height: 100%;
}

.flexRowContent--plp__content--shelf {
  height: 100%;
}

.flexRowContent--plp__content--shelf .stretchChildrenWidth:first-child {
  min-width: 40%;
  margin-right: 0.6rem;
}

.flexRowContent--plp__content--shelf .stretchChildrenWidth:last-child {
  min-width: 60%;
}

.flexCol--content__shelf--right {
  text-align: start;
  display: flex;
  justify-content: space-evenly;
}

/* Estilos para móviles */
@media (max-width: 639px) {
  .flexRowContent--mobile--head__plp {
    display: flex;
    flex-direction: column;
  }

  .flexCol--mobile__filtros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexColChild--container__plp{
    margin-bottom: 1rem;
  }
}

/* Estilos para tabletas */
@media (min-width: 640px) and (max-width: 1025px) {
  .flexRowContent--mobile--head__plp {
    display: flex;
    flex-direction: column;
  }

  .flexCol--mobile__filtros {
    display: flex;
    flex-direction: row;
  }

  .flexColChild--container__plp{
    margin-bottom: 1rem;
  }
}

/* Estilos para escritorios */
@media (min-width: 1026px) {
}
