/*-----Mobile---*/

@media (max-width: 639px) {
  .logoLink--header__logo {
    display: inline-block;
  }

  .logoContainer--header__logo {
    display: inline-block;
  }
}
/* Estilos para tabletas */
@media (min-width: 640px) and (max-width: 1025px) {
  .logoLink--header__logo {
    display: inline-block;
  }

  .logoContainer--header__logo {
    display: inline-block;
  }
}

/* Estilos para escritorios */
@media (min-width: 1026px) {
}
