/*-----Mobile---*/

@media (max-width: 639px) {
  .drawerContent--mobile__megamenu {
    overflow-y: auto;
    scrollbar-width: none;
  }

  .drawerHeader--mobile__megamenu--drawer {
    padding: 2rem 1rem 1rem 0.5rem;
    display: flex;
    align-items: center;
  }
}

/* Estilos para tabletas */
@media (min-width: 640px) and (max-width: 1025px) {
  .drawerContent--mobile__megamenu {
    overflow-y: auto;
    scrollbar-width: none;
  }

  .drawerHeader--mobile__megamenu--drawer {
    padding: 2rem 1rem 1rem 0.5rem;
    display: flex;
    align-items: center;
  }
}
/* Estilos para escritorios */
@media (min-width: 1026px) {
}
