.openIconContainer {
  padding: 0;
}

/*--Container*/
.drawer {
  display: flex;
  justify-content: space-around;
}

.drawerContent {
  position: relative;
  overflow-y: unset;
}

.minicartSideBarContentWrapper{
    min-height: 96vh;
}

/*--Header---*/

.closeIconContainer {
  position: absolute;
  right: 0px;
  top: 0px;
}

.minicartTitle {
  margin-top: 16%;
  padding: 0px 16px;
}
/*--ProductList--*/

.minicartProductListContainer {
  margin: 20px 0px;
  scrollbar-color: #bebebe #f2f2f2;
  scrollbar-width: thin;
  padding: 0;
}

/*Summary*/

.minicartSummary--minicart__summary {
  border-radius: 4px;
  border: 1px solid rgba(231, 231, 231, 1);
  width: 100%;
}

.minicartSummary--minicart__summary
  :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  display: none;
}

/*Button*/

.minicartCheckoutButton--minicard__checkout--btn {
  width: 100%;
  padding: 0;
}

.minicartCheckoutButton--minicard__checkout--btn :global(.vtex-button) {
  width: 100%;
  border-radius: 60px;
  background: rgba(29, 39, 52, 1);
  padding: 0.8rem 0rem;
}

.minicartCheckoutButton--minicard__checkout--btn :global(.vtex-button__label){
  text-transform: math-auto;
}
