.flexColChild--desktop__header--minicart :global(.vtex-button__label){
    padding-left: .6rem;
    padding-right: .8rem;
}

.flexColChild--desktop__header--minicart :global(.vtex-button){
   border: none;
   margin: 0 0.4rem;
}

.flexColChild--desktop__header--minicart{
    display: flex;
    align-items: center;
}

.flexRow--minicard__logo{
    position: absolute;
    top: 0;
}

.flexRow--minicard__logo :global(.vtex-store-components-3-x-logoContainer){
    display: inline-block;
    padding: 16px;
    display: flex;
    align-items: center;
}

.flexCol--minicart__container{
    padding: 0px 16px;
    min-height: 20%;
    max-height: 90%;
    display: flex;
    justify-content: space-between;
}

.flexColChild--minicart__container:last-child{
    margin: 10px 0px;
    overflow: unset;
    height: 100%;
}

.flexColChild--minicart__container:first-child {
    scrollbar-color: #BEBEBE #F2F2F2;
    scrollbar-width: thin;
    padding: 0;
    min-height: 20%;
    max-height: 80%;
    margin: 10px 0px;
    overflow: auto;
}

.flexCol--minicart__empty {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.flexColChild--minicart__empty{
    width: 100%;
}

.flexRow--minicart-footer{
    box-shadow: none;
}

.flexColChild--minicart-col{
    display: flex;
    justify-content: center;
}

/*--MiniCart|img|--*/
.flexColChild--image__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    overflow: hidden;
}

/*---|MiniCart|Card|---*/
.flexRow--list__row--mobile {
    margin-bottom: 1rem;
}

/*----|MiniCart|Contenido|-----*/

.flexCol--main__container--mobile{
    display: flex;
    justify-content: space-between;
}