.infoCardContainer--slider--card{
    flex-direction: column-reverse;
    margin: 0 20px 0 20px;
    border-radius: 12px;
    padding: 0;
    display: flex;
}

.infoCardTextContainer--slider--card{
    width: max-content;
    display: flex;
    text-align: left;
}

.infoCardHeadline--slider--card{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--parrafos__s16) ;
    font-weight: var(--parrafos__w600);
}

.infoCardHeadline--slider--card::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px; 
    background: url('assets/img/Artwork_trailing.png') no-repeat center;
    background-size: contain;
    position: absolute;
    transform: translateX(-50%);
    right: 0;
}

.infoCardImageContainer--slider--card{
    width: 100%;
    margin-bottom: 0.6rem;
}

.infoCardBodyText--slider--card{
    max-width: 80%;
    font-size: var(--parrafos__s12);
    font-weight: var(--parrafos__w300);
    line-height: 2;
}

.infoCardCallActionContainer--slider--card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.infoCardCallActionContainer--slider--card :global(.vtex-button){
    font-size: var(--parrafos__s12);
    font-weight: var(--parrafos__w400);
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.infoCardCallActionContainer--slider--card :global(.vtex-button__label){
    text-transform: math-auto;
}

.infoCardCallActionContainer--slider--card :global(.vtex-button__label)::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px; 
    background: url('assets/img/ArrowBuy.svg') no-repeat center;
    background-size: contain;
    margin-left: 6px;
}