/*---Nav| Search --*/

.searchBarInnerContainer--search-bar :global(.vtex-input-prefix__group){
    border: none;
    background: rgba(245, 244, 246, 1);
    border-radius: 20px;
}

.searchBarInnerContainer--search-bar :global(.vtex-styleguide-9-x-input){
    background: rgba(245, 244, 246, 1);
    
}

.searchBarInnerContainer--search-bar :global(.vtex-input__suffix){
    background: rgba(245, 244, 246, 1);
}
