/*---NavOne|Tendencias IT Globers--*/

.menuContainer--header__firstmenu .styledLink{
    font-weight:var(--parrafos__w600);
    font-size: var(--parrafos__s12);
    color: var(--color__principal);
}

.menuContainer--header__firstmenu .styledLink:hover{
    text-decoration: underline;
}

.menuContainer--header__firstmenu .styledLinkContainer{
    margin: 0;
    padding: 0.46rem;
}