.slide--slider__item--images{
    max-width: 1280px;
    max-height: max-content;
}

.imageElement--slider__item--images{
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

/* Estilos para móviles */
@media (max-width: 639px) {
    .imageElement--slider__item--images{
        max-height: unset !important;
        aspect-ratio: 4 / 5;
        object-fit: cover;
        object-position: center;
    }
}

/* Estilos para tabletas */
@media (min-width: 640px) and (max-width: 1025px) {
    .imageElement--slider__item--images{
        max-height: unset !important;
        aspect-ratio: 4 / 5;
        object-fit: cover;
        object-position: center;
    }
}

/* Estilos para escritorios */
@media (min-width: 1026px) {

}

